<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="back">

  <ion-list class="ion-list-custom">
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Nullam tincidunt ipsum at massa aliquet, et rutrum lorem iaculis.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">uis egestas elit eget luctus convallis.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Suspendisse vulputate nisi nec ligula rutrum semper.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Integer in leo in augue rutrum eleifend ac sed est.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Vestibulum sit amet felis et neque gravida tincidunt at et mi.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
    <ion-item>
      <p class="p-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </ion-item>
  </ion-list>

</ion-content>