<ion-header>
  <ion-toolbar>
    <ion-title>Nurses</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="Detail_Page(nurse.user_id)" *ngFor="let nurse of NursesData">
    <ion-row class="top-doctor-row">
      <ion-col size="3" class="theme-green-background border-min text-center"> 
        <img class="doctor-top-img" src="{{Img_Path}}nurse/{{nurse.image}}">
      </ion-col>
      <ion-col size="9">
        <ion-card-content>
          <p class="top-doctor-p-name">{{nurse.name}}</p>
          <p class="top-doctor-p-speciality">{{nurse.city}}, {{nurse.state}}</p>
          <p class="top-doctor-p-speciality">{{nurse.rating}} <ion-icon name="star" style="    color: #ffb50f;"></ion-icon></p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>

