.doctor-header{
    height: 250px;
}

.new-background-color{
    --background:#00c6ad !important;
}

.upload_design{
    border: 2px dashed #fff;
    width: 86%;
    height: 65%;
    margin: 0 auto;
    text-align: center;
}

.margin-top-btm{
    margin: 20px 0px;
}

.btn-resize{
    height: 28px;
    font-size: 12px;
}