<ion-header class="doctor-header theme-green-background">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>



  </ion-toolbar>

  <div class="upload_design">
    <img *ngIf="image_selected" [src]="Binary_Prescription" style="width:80%;height:80%" />
    <p *ngIf="!image_selected" style="margin-bottom: 0;">
      <ion-icon style="font-size: 75px; margin-bottom: 0px; color:#fff" name="reader-outline"></ion-icon>
    </p>
    <p *ngIf="!image_selected" style="margin-top: 0px; color:#fff; font-size: 12px;">Upload Prescription</p>


  </div>

</ion-header>

<ion-content>

  <div class="form-pre" *ngIf="image_selected">
    <ion-item>
      <ion-textarea style="font-size:12px" ([ngModel])="advices" name="advices" placeholder="Please enter any advices for order">
      </ion-textarea>
    </ion-item>

    <div class="text-center">
      <ion-button (click)="order_now()" color="dgreen" shape="round" class="small-button">Place Order</ion-button>
    </div>
  </div>

  <ion-row class="margin-top-btm" *ngIf="!image_selected">
    <ion-col size="6" class="text-center">
      <ion-button class="btn-resize" color="light" (click)="GetGallery()" shape="round">
        <ion-icon style="margin-right: 8px;" name="image-outline"></ion-icon> Gallery
      </ion-button>
    </ion-col>
    <ion-col size="6" class="text-center">
      <ion-button class="btn-resize" color="light" (click)="GetPicture()" shape="round">
        <ion-icon style="margin-right: 8px;" name="camera-outline"></ion-icon> Camera
      </ion-button>

    </ion-col>
  </ion-row>


  <ion-toolbar>
    <ion-title size="small">Recent Prescriptions</ion-title>
  </ion-toolbar>

  <ion-card (click)="Detail_Page(pres.user_id)" *ngFor="let pres of AllPres">
    <ion-row class="top-doctor-row">
      <ion-col size="3" class="theme-green-background border-min text-center"> 
        <img class="doctor-top-img" src="{{Img_Path}}{{pres.image}}">
      </ion-col>
      <ion-col size="9">
        <ion-card-content>
          <p class="font-10"><span>Uploaded On: {{api.Get_DateTimeLocal(pres.created_at)}}</span></p>
          <p class="font-10" *ngIf="pres.order_created == 1" style="color: #0aa900;"><span>Order Created</span></p>
          <p class="font-10" *ngIf="pres.order_created == 0" style="color: #ffad58;"><span>Order Pending</span></p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>



</ion-content>