.top-slides ion-slide{
    width: 220px !important;
    min-height: 150px !important;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius:10px
}

.top-slides ion-slide ion-icon{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(128 128 128 / 40%);
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
}


.category-slides ion-slide{
    width: 80px !important;
    height: 80px !important;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 10px;
    background-color:#d3fbf6;
}

.coupon-slides ion-slide{
    width: 140px !important;
    height: 80px !important;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    border-radius: 10px;
}

.category-slide-icon{
    color: #00c6ad;
    font-size: 30px;
    font-weight: bolder;
}

.top-doctor-row{
    padding:10px
}

.top-doctor-row img{
    height: 50px;
    margin-bottom: -10px;
}

.top-doctor-row ion-card-content{
    padding: 0;
    margin-left: 10px;

}

ion-card{
    box-shadow: rgb(0 0 0 / 0%) 0px 3px 1px -2px, rgb(0 0 0 / 0%) 0px 2px 2px 0px, rgb(0 0 0 / 8%) 0px 1px 5px 0px !important;

}


.top-doctor-p-rating{
    font-size: 10px;
    
}

.top-doctor-p-name{
    font-size: 13px;
    color:#000000;
    font-weight: bold;
}

.top-doctor-p-speciality{
    font-size: 10px;
}

.category-slide-name{
    font-size: 10px;
    margin: 0px;
    line-height: 13px;
    font-weight: bold;
}

.category-slide-type{
    font-size: 8px;
    margin: 0px;
    line-height: 13px;
}



.doctor-slide-img{
    width: auto;
    max-width: 100%;
    height: 115px;
    max-height: 250px;
    position: absolute;
    bottom: -2.26rem;
    /* margin-bottom: -11px; */
    left: 12px;
}

.doctor-name-slide{
    
}

.doctor-name-slide1{
    font-weight: bold;
    font-size: 10px;
    color: #ffffff;
    margin: 0px !important;
    line-height: 20px;
}

.doctor-name-slide2{
    font-weight: bolder;
    font-size: 12px;
    color: #ffffff;
    margin: 0px !important;
    line-height: 14px;
}

.doctor-name-slide3{
    font-weight: bold;
    font-size: 10px;
    color: #ffffff;
    margin: 0px !important;
    line-height: 20px;
}

