/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Poppins", sans-serif !important;
}

ion-toolbar {
  height: 38px !important;
}

ion-menu-button button {
  height: 30px !important;
}

.main-section {
  padding: 20px;
}

.bar-header {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
}

.theme-green-color {
  color: #00c6ad !important;
}

.theme-green-background {
  background: #00c6ad;
}

.border-min {
  border-radius: 10px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

ion-menu-toggle .menu-icons {
  padding: 0;
  font-size: 18px;
  margin: 0px;
  margin-right: 20px;
}

ion-menu-toggle ion-label {
  font-size: 12px !important;
  padding: 0;
  margin: 0;
}

ion-menu-toggle ion-item {
  height: 40px;
}

.font-10 {
  font-size: 10px !important;
}

:root {
  --ion-color-dgreen: #00c6ad;
  --ion-color-dgreen-rgb: 255, 215, 0;
  --ion-color-dgreen-contrast: #ffffff;
  --ion-color-dgreen-contrast-rgb: 0, 0, 0;
  --ion-color-dgreen-shade: #00c6ad;
  --ion-color-dgreen-tint: #00c6ad;
}
.ion-color-dgreen {
  --ion-color-base: var(--ion-color-dgreen) !important;
  --ion-color-base-rgb: var(--ion-color-dgreen-rgb) !important;
  --ion-color-contrast: var(--ion-color-dgreen-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dgreen-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dgreen-shade) !important;
  --ion-color-tint: var(--ion-color-dgreen-tint) !important;
}

.small-button {
  font-size: 10px;
  line-height: 10px;
  padding: 7px;
}

ion-menu-button {
  margin-top: -12px !important;
}

ion-header ion-toolbar ion-title,
ion-header ion-back-button {
  font-size: 14px;
  margin-top: -12px !important;
}

.p-custom {
  font-size: 12px;
}

.ion-list-custom {
  background: #1ed2bb;
  padding: 10px;
}

ion-menu.md ion-item.selected {
  background: #00c6ad !important;
}

ion-item.selected,
ion-menu.md ion-item.selected,
ion-menu.md ion-item.selected ion-icon {
  color: #fff !important;
}

.top-doctor-row {
  padding: 10px;
}

.top-doctor-row img {
  height: 50px;
  margin-bottom: -10px;
}

.top-doctor-row ion-card-content {
  padding: 0;
  margin-left: 10px;
}

ion-card,
.searchbar input {
  box-shadow: rgb(0 0 0 / 0%) 0px 3px 1px -2px, rgb(0 0 0 / 0%) 0px 2px 2px 0px, rgb(0 0 0 / 8%) 0px 1px 5px 0px !important;
}

.searchbar {
  --box-shadow: rgb(0 0 0 / 0%) 0px 3px 1px -2px, rgb(0 0 0 / 0%) 0px 2px 2px 0px, rgb(0 0 0 / 8%) 0px 1px 5px 0px !important;
}

.top-doctor-p-rating {
  font-size: 9px;
}

.top-doctor-p-name {
  font-size: 11px !important;
  color: #000000;
  font-weight: bold !important;
}

.top-doctor-p-speciality {
  font-size: 9px !important;
}

.custom-searchbar input {
  border-radius: 30px !important;
  height: 30px !important;
  font-size: 14px !important;

  ion-icon {
    left: 13px !important;
    top: 5px !important;
  }
}

.custom-searchbar ion-icon {
  left: 13px !important;
  top: 5px !important;
  font-size: 12px;
}

.no-margin-padding {
  margin: 0 !important;
  padding: 2px 2px !important;
}

.small-btn {
  height: 25px;
  font-size: 11px;
}

.m-5{
  margin: 5px;
}

.custom-content-back{--background: #f5f5f5};

.margin-center{
  margin: 0 auto
}